.titulo{
    border: 5px ridge;
    border-color: beige;
    text-align: center;
    background-color: rgb(37,36,64);
}
.titulo_main{
    color:white
}
.seccion1{
    border: 5px hidden;
    background-color: #CFFFFF;
    height: 10%;
    width: auto;
}
.seccion2{
    border: 5px hidden;
    background-color: #CFFFFF;
    height: 10%;
    width: auto;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    height: 30%;
    font-size: 150%;
    background-color: darkgray;
}
